* {
    box-sizing: border-box;
}

:root {
    --background-color: white;
    --text-color: black;
    --elements-color: white;
    --image-border: #ddd;
}

body {
    margin: 0;
    font-family: Nunito Sans, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.switch-to-dark {
    --background-color: hsl(207, 26%, 17%);
    --text-color: hsl(0, 0%, 100%);
    --elements-color: hsl(209, 23%, 22%);
    --image-border: hsl(209, 23%, 22%);
}

a {
    text-decoration-line: none;
    color: inherit;
}

.header {
    background-color: var(--elements-color);
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 24px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-inline: auto;
}

.header h2 {
    font-weight: 800;
}

.dark-mode {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.dark-mode i:nth-child(2) {
    display: none;
}

body.switch-to-dark i:nth-child(2){
    display: block;
}

body.switch-to-dark i:nth-child(1){
    display: none;
}


main {
    padding-inline: 24px;
}

section {
    margin-block: 64px;
    max-width: 1200px;
    margin-inline: auto;
}

.input-field {
    background-color: var(--elements-color);
    display: flex;
    align-items: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    border-radius: 4px;
    color: gray;
}

.input-field i {
    padding-left: 18px;
}

.input-field input {
    color: var(--text-color);
    background-color: inherit;
    border: none;
    padding: 12px 16px;
    outline: none;
    flex-grow: 1;
}

.input-field input::placeholder {
    font-size: 14px;
    color: var(--text-color);
}

.input-search-section {
    display: flex;
    justify-content: space-between;
}

.filter-by-region {
    background-color: var(--elements-color);
    border: none;
    outline: none;
    color: var(--text-color);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    padding-inline: 16px;
}

.countries-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 64px;
}

.card-container {
    display: inline-block;
    max-width: 250px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 16px;
    transition: all 0.2s ease-in-out;
    background-color: var(--elements-color);
}

.card-container:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.3);
}

.card-container img {
    border: 1px solid var(--image-border);
    width: 100%;
    height: 125px;
    object-fit: cover;
}

.card-content {
    padding-inline: 16px;
}

.card-content h3 {
    margin-block: 12px;
}

.card-content p {
    margin-block: 4px;
    font-size: 14px;
}

@media (max-width:768px) {
    .input-search-section {
        flex-direction: column;
        gap: 32px;
    }

    .input-field {
        max-width: 350px;
    }

    .filter-by-region {
        max-width: 200px;
        width: 100%;
        padding: 12px 16px;
    }

}